/*
 * Copyright 2016 Technexion Ltd.
 *
 * Author: Wig Cheng <wig.cheng@technexion.com>
 *	   Richard Hu <richard.hu@technexion.com>
 *	   Tapani Utriainen <tapani@technexion.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

#include <tnmacro.h>

/ {
	gpio-edm {
		compatible = "gpio-edm";
/* custom GPIO may be from GPIO expander on CPU module */
#ifdef PICO_EXT_GPIO_IOMUX_HOBBIT
		pinctrl-names = "default";
		pinctrl-0 = <PICO_EXT_GPIO_IOMUX_HOBBIT>;
#endif
		gpio_exp0 {
			label = "GPIO_EXP0";
			gpios = <&PICO_EXT_GPIO_EXP0 1>;
			dir   = "in";
		};
		gpio_exp1 {
			label = "GPIO_EXP1";
			gpios = <&PICO_EXT_GPIO_EXP1 1>;
			dir   = "in";
		};
		gpio_exp2 {
			label = "GPIO_EXP2";
			gpios = <&PICO_EXT_GPIO_EXP2 1>;
			dir   = "in";
		};
		gpio_exp3 {
			label = "GPIO_EXP3";
			gpios = <&PICO_EXT_GPIO_EXP3 1>;
			dir   = "in";
		};
		gpio_exp5 {
			label = "GPIO_EXP5";
			gpios = <&PICO_EXT_GPIO_EXP5 1>;
			dir   = "in";
		};
	};

	sound {
		compatible = "fsl,imx-sgtl5000",
			     "fsl,imx-audio-sgtl5000";
		model = "audio-sgtl5000";
		ssi-controller = <&PICO_AUD_I2S_CHANNEL>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <PICO_AUD_MUX_INT>;
		mux-ext-port = <PICO_AUD_MUX_EXT>;
	};
};

&i2c1 {
	status = "okay";

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&PICO_AUD_CLK_SRC>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
	};

	fxas2100x@21 {
		compatible = "fsl,fxas2100x";
		reg = <0x21>;
	};

	fxos8700@1e {
		compatible = "fsl,fxos8700";
		reg = <0x1e>;
	};

	mpl3115@60 {
		compatible = "fsl,mpl3115";
		reg = <0x60>;
	};
};

&i2c2 {
	status = "okay";

	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov564x_mipi";
		reg = <0x3c>;
		clocks = <&clks 200>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = <&gpio1 6 1>;
		rst-gpios = <&gpio1 8 0>;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
	};

	pca9554: pca9554@25 {
		compatible = "nxp,pca9554";
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		reg = <0x25>;
	};

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5x06";
		reg = <0x38>;
#ifdef PICO_EXT_FT5X06_IOMUX_DWARF
		pinctrl-names = "default";
		pinctrl-0 = <PICO_EXT_FT5X06_IOMUX_DWARF>; /* Touch IRQ and Touch Reset */
#endif
		interrupt-parent = <&GPIO_BANK(PICO_EXT_GPIO_EXP6)>; /* GPIO_EXT6 */
		interrupts = <GPIO_NO(PICO_EXT_GPIO_EXP6) 0>;
		reset-gpios = <&PICO_EXT_GPIO_EXP4 GPIO_ACTIVE_LOW>; /* GPIO_EXT4 */
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
	};
};

&i2c3 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&can2 {
	status = "okay";
};

&ecspi2 {
	status = "okay";

	ads7846@0 {
		reg = <0>;  /* CS0 */
		compatible = "ti,ads7846";
#ifdef PICO_EXT_ADS7846_IOMUX
		pinctrl-names = "default";
		pinctrl-0 = <PICO_EXT_ADS7846_IOMUX>;
#endif
		interrupt-parent = <&GPIO_BANK(PICO_EXT_GPIO_EXP7)>; /* GPIO_P263 J1B-263 */
		interrupts = <GPIO_NO(PICO_EXT_GPIO_EXP7) 0>;
		spi-max-frequency = <1000000>;
		pendown-gpio = <&PICO_EXT_GPIO_EXP7 0>; /* GPIO_P263 J1B-263 */
		vcc-supply = <&reg_3p3v>;

		ti,x-min = /bits/ 16 <0>;
		ti,x-max = /bits/ 16 <4095>;
		ti,y-min = /bits/ 16 <0>;
		ti,y-max = /bits/ 16 <4095>;
		ti,pressure-max = /bits/ 16 <1024>;
		ti,x-plate-ohms = /bits/ 16 <90>;
		ti,y-plate-ohms = /bits/ 16 <90>;
		ti,debounce-max = /bits/ 16 <70>;
		ti,debounce-tol = /bits/ 16 <3>;
		ti,debounce-rep = /bits/ 16 <2>;
		ti,settle-delay-usec = /bits/ 16 <150>;

		linux,wakeup;
	};
};

